.card {
  position: relative;
  overflow: hidden;

  .cards-set__card:hover &::before {
    transform: translateY(0);
  }

  &__img {
    display: block;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .cards-set__card:hover & {
      transform: translateY(0);
    }
  }

  &__text {
    position: absolute;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: $white;
    margin: 0;
  }

  &__meta {
    width: 370px;
    padding: 20px 24px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-bold-color;
  }

  &__description {
    margin: 0;
    padding: 0;
    color: $text-color;
    font-size: 16px;
    line-height: 1.87;
  }
}
