.footer-subscription {
  display: block;
  text-align: center;

  &__label {
    display: block;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
  }

  &__wrapper {
    @include centeredFlex();
    flex-direction: column;
    margin-top: 20px;
  }

  &__input {
    margin-bottom: 20px;
    padding: 15px 15px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
  }

  &__input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  & .button-footer {
    @include centeredFlex();
    padding: 10px;
    margin: 0;

    &__icon {
      margin-left: 10px;
      width: 24px;
      height: 24px;
      fill: $white;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-top: 60px;
    &__input {
      width: 450px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-top: 0;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
      @include centeredFlex();
      margin-top: 20px;
      flex-direction: row;
    }

    &__input {
      width: 358px;
      margin-bottom: 0;
      margin-right: 12px;
    }
  }
}
