.footer-contacts {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;

  flex-direction: column;
  justify-content: center;

  &__item {
    margin-top: 8px;
  }

  &__link {
    text-decoration: none;
    color: $transparent-text-color;
    transition: $color-transition-250ms;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 0;
    align-items: flex-start;
    &__item {
      margin-top: 9px;
    }
  }
}
