.form__input {
  width: 100%;
  height: 40px;
  cursor: pointer;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: $border-color-transition-250ms;

  &:hover,
  &:focus {
    border: 1px solid $accent-color;
    outline: none;
  }
}
